.comment-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;

  & li {
    display: flex;
    justify-content: flex-start;
  }

  & li + li {
    margin-top: 10px;
  }

  & + .btn {
    margin-top: 15px;
  }
}
