.post {
  &__title {
    margin: 10px 0;
  }

  &__text {
    padding: 5px;
    padding-left: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    //transition: transform .1s ease-in;

    & h4 {
      margin-top: 15px;
    }
  }

  &__main {
    display: flex;
    font-size: 18px;

    header {
      margin-top: 5px;
      font-size: 12px;
      font-style: italic;
    }

    header + p {
      margin-top: 10px;
    }
  }

  &__main + a {
    margin-top: 15px;
  }

  &__main-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .btn + .btn {
      margin-top: 10px;
    }
  }

  &__icons {
    min-width: 41px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-right: 1px solid forestgreen;
    padding: 0 10px;
  }
}