@keyframes fadeInFromNone {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.logged .show-if-logged,
.not-logged .show-if-not-logged {
  animation-name: fadeInFromNone;
  animation-duration: 0.2s;
}

.opacity {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.loaded .opacity {
  opacity: 1;
}

.hidden {
  display: none !important;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 140px;
  padding: 5px;
  border: 2px solid darkolivegreen;
  border-radius: 4px;
  color: darkolivegreen;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s ease-in;
}
.btn[disabled] {
  background-color: lightgray;
}

.btn:hover {
  background-color: darkolivegreen;
  color: white;
}

.form-container {
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form input, .form textarea {
  display: inline-block;
  border: 2px solid darkolivegreen;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px 10px;
  transition: border-color 0.2s ease-in;
}
.form textarea {
  width: 100%;
  min-height: 200px;
}
.form input + label, .form button {
  margin-top: 20px;
}
.form input, .form textarea, .form button {
  font-family: inherit;
}
.form input.error, .form textarea.error {
  border-color: red;
}
.form__error {
  display: none;
  font-weight: bold;
  font-size: 14px;
  color: red;
  padding: 10px 0;
}
.form__field-error {
  font-size: 12px;
  color: red;
  padding-bottom: 5px;
}
.form.error .form__error {
  display: block;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 15px;
  min-height: 100%;
}

.wrapper-content {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .wrapper-content {
    max-width: 70vw;
  }
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: green;
  color: white;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header h1 {
  margin: 0 0 5px 0;
}
@media only screen and (max-width: 600px) {
  .header h1 {
    font-size: 18px;
  }
}
@media only screen and (min-width: 600px) {
  .header h1 {
    margin: 0 0 15px 0;
  }
}
.header h1 a {
  text-decoration: none;
  color: white;
}

.menu {
  width: 100%;
  max-width: 70vw;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  font-size: 14px;
  gap: 5px;
}
@media only screen and (min-width: 600px) {
  .menu {
    font-size: 16px;
    min-height: 22px;
    flex-direction: row;
    gap: 10px;
  }
}
.menu a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.05s ease-in;
}
.menu a:hover {
  transform: scale(1.05);
}

.loaded .menu {
  opacity: 1;
}

.nav {
  padding: 5px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 600px) {
  .nav {
    padding: 10px;
  }
}

.post-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.post-list li {
  position: relative;
  border: 2px solid green;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  padding: 10px;
  cursor: pointer;
  transition: transform 0.1s ease-in;
}
.post-list li:hover {
  transform: scale(1.01);
}
.post-list li + li {
  margin-top: 10px;
}
.post-list a {
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.post-list a:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
}
.post-list + .btn {
  margin-top: 15px;
}

.comment-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.comment-list li {
  display: flex;
  justify-content: flex-start;
}
.comment-list li + li {
  margin-top: 10px;
}
.comment-list + .btn {
  margin-top: 15px;
}

.post__title {
  margin: 10px 0;
}
.post__text {
  padding: 5px;
  padding-left: 10px;
}
.post__content {
  display: flex;
  flex-direction: column;
}
.post__content h4 {
  margin-top: 15px;
}
.post__main {
  display: flex;
  font-size: 18px;
}
.post__main header {
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
}
.post__main header + p {
  margin-top: 10px;
}
.post__main + a {
  margin-top: 15px;
}
.post__main-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post__main-actions .btn + .btn {
  margin-top: 10px;
}
.post__icons {
  min-width: 41px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  border-right: 1px solid forestgreen;
  padding: 0 10px;
}

.comment {
  list-style: none;
  padding: 5px;
  padding-left: 10px;
}
.comment p {
  padding-bottom: 5px;
}
.comment aside, .comment footer {
  font-size: 12px;
}
.comment__icons {
  min-width: 41px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  border-right: 1px solid forestgreen;
  padding: 0 10px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid forestgreen;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.6);
  background-size: 80%;
  background-position: center;
  background-color: white;
  background-repeat: no-repeat;
  cursor: pointer;
}
.icon.pencil {
  background-image: url("/asset/img/pencil.png");
}
.icon.trash {
  background-image: url("/asset/img/trash.png");
}

.userlist {
  list-style: none;
  margin-top: 15px;
}
.userlist li {
  display: flex;
  gap: 5px;
  padding: 10px;
}
.userlist li:nth-child(odd) {
  background-color: lightgreen;
}
.userlist li span {
  display: block;
  width: 100%;
}

.footer {
  text-align: center;
  background-color: green;
  margin-top: auto;
  color: white;
  padding: 20px;
}

.presentation {
  text-align: center;
}
.presentation h2 {
  margin: 20px 0;
  font-size: 30px;
}
.presentation img {
  display: inline-block;
  margin: 20px 0;
}

/*# sourceMappingURL=style.css.map */
